{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "valid-jsdoc": ["error", {
      "requireReturn": false,
      "requireReturnType": false,
      "requireParamDescription": false,
      "requireReturnDescription": false
    }],
    "require-jsdoc": ["error", {
        "require": {
            "FunctionDeclaration": false,
            "MethodDefinition": false,
            "ClassDeclaration": false
        }
    }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-console": ["error", { allow: ["warn", "error", "log"] }],
    "no-alert": "off",
    "no-unused-vars": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "arrow-parens": "off",
    "arrow-body-style": "off",
    "react/prop-types": 0,
    "no-mixed-operators": "off"
  },
}
