{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "env": {
    "browser": true,
    "node": true,
    "es6": true,
    "mocha": true
  },
  "rules": {
    "valid-jsdoc": ["error", {
      "requireReturn": false,
      "requireReturnType": false,
      "requireParamDescription": false,
      "requireReturnDescription": false
    }],
    "require-jsdoc": ["error", {
        "require": {
            "FunctionDeclaration": false,
            "MethodDefinition": false,
            "ClassDeclaration": false
        }
    }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-console": ["error", { allow: ["warn", "error", "log"] }],
    "no-unused-vars": [2, {"vars": "all", "args": "after-used"}]
  }
}
