/* Global Settings */
:root {
    --space: 1.5em 0;
    --space: 2em 0;
}

.site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.site-content {
    flex: 1 0 auto;
    padding: var(--space) var(--space) 0;
    width: 100%;
}

.site-content:after {
    content: '\00a0';
    display: block;
    margin-top: var(--space);
    height: 0;
    visibility: hidden;
}

.button {
  padding: 10px 15px;
}

.icon-button {
  padding: 15px;
}

.btn-space {
  padding-left: 8px;
}
.btn-floating {
  margin-top: 10px;
}
.icon-button, .favorite {
  padding: 2px 10px 2px 10px;
}

/* Sign up page */
.brand-logo-signup {
  font-size: xx-large;
  color: hotpink;
}

.bg {
  background-image: url("./imgs/bg.jpeg");
  /*background-image: url(https://static.pexels.com/photos/306533/pexels-photo-306533.jpeg);*/
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.sign-up, .sign-in {
 width:800px;
 margin: auto;
}

/* subnavbar */
.tab .active {
  text-decoration: underline;
}
/* The alert message box */
.alert, .error {
    padding: 20px;
    color: white;
    margin-bottom: 15px;
}

.alert {
    background-color: green; /* Red */
}

.error {
  background-color: #f44336;
}

/* dashboard table */
table .dashboard, .dashboard th, .dashboard td {
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
    border-spacing: 0;
    border-left: 0 none;
    border-right: 0 none;
}

.dashboard th, .dashboard td {
    padding: 15px;
}

.dashboard th {
    text-align: left;
}

.dashboard td {
    white-space: nowrap;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* saved-job-posting on dashboard */
.saved-job-posting:hover {
  background-color: #D3D3D3;
}

#refresh {
  cursor: pointer;
}
/* job-search-form */
.job-search-form input[type="text"], .job-add-form input[type="date"], .job-edit-form select {
  padding: 8px;
  max-width: 100%;
}

.job-search-inputs {
  text-align: center;
}

/* file-path-wrapper */
.file-path-wrapper {
  width: 60%;
}

/* .pager */
.pager {
  list-style: none;
}

/* start of company info styling */
.centerText{
  display: flex;
  justify-content: center;
}
#companyInformationTab{
  display: grid;
  grid-template-columns: 40% 60%;
  grid-template-rows: auto auto;
  grid-column-gap: 10px;
  grid-row-gap: 0px;
}
#twitterBanner{
  grid-column:1/3;
  grid-row:1/2;
}
#companyInformationLeft{
  grid-row: 2;
  grid-column: 1/2;
  display: grid;
  grid-template-rows: auto auto 1fr;
  grid-template-columns: 100%;
  grid-row-gap: 0px;
}
#tweetsContainer{
  grid-column:1/2;
  grid-row:1/2;
  height: 100%;
}
#FullContactComponent{
  grid-column:1/2;
  grid-row:2/3;
}
#companyInformationRight{
  grid-row: 2;
  grid-column: 2/3;
  display: grid;
  grid-template-rows: auto auto auto 1fr;
  grid-template-columns: 100%;
  grid-row-gap: 0px;
}
#GlassdoorComponent{
  grid-column: 1/2;
  grid-row: 1/2;
}
#glassdoorDoughnuts{
  display: grid;
  grid-template-columns: 30% 40% 30%;
}
.GDdoughnut{
  display:grid;
  align-items: flex-end;
}
#GDD1{
  grid-column: 1/2;
}
#GDD2{
  grid-column: 2/3;
}
#GDD3{
  grid-column: 3/4;
}
#EDGARComponent{
  grid-row:2/3;
}
#TradierComponent{
  grid-row:3/4;
}

/* end of company info styling */

.inactive {
  color: red;
}

.empty-state {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgba(0, 0, 0, 0.2);
  font-size: 1.2em;
}

.dropdown-content {
  min-width: 142px;
}

.dropdown-content li>a>i {
  margin: 0 18px 0 0;
}

#no-job-banner {
  text-align: center;
}

.profile-github-handle {
  font-size: .8em;
}

.hidden {
  visibility: hidden;
}

.page-footer {
  background-color: #455a64;
  margin-top: 20px;
}

.footer-links {
  display: flex;
  justify-content: space-evenly;
  margin-left: -20px;
}

.footer-links a {
  color: white;
}

.active a {
  color: #26a69a;
}

nav .brand-logo {
  margin-left: 10px;
  font-size: 1.8rem
  /*font-family: 'Saira Extra Condensed', sans-serif;
  font-family: 'Cuprum', sans-serif;
  font-family: 'Bree Serif', serif;
  font-family: 'Cantora One', sans-serif;
  font-family: 'Righteous', cursive;*/
}

.blinking-cursor {
  font-weight: 300;
  font-size: 34px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}
