
#main-navigation {
    height: 54px;
    overflow: hidden;
    background-color: lightblue;
}

#main-navigation li {
    font-size: 1em;
    text-transform: uppercase;
    list-style: none;
    float: left;
    width: 10%;
    display: block;
    text-align: center;
    padding: 18px 16px;
    color: white;
}

/* Change the link color to #111 (black) on hover */
#main-navigation .navBar:hover {
    background-color: blue;
}

/* The alert message box */
.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

table .dashboard, .dashboard th, .dashboard td {
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
}

.dashboard th, .dashboard td {
    padding: 15px;
}

.dashboard th {
    text-align: left;
}

.dashboard td {
    white-space: nowrap;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button {
  padding: 10px 15px;
}

.job-edit-form {
  padding: 20px;
}

.job-edit-form .form-group {
  padding-bottom: 15px;
}

.job-edit-form label {
  padding-right: 15px;
}

.job-edit-form input[type="text"], .job-edit-form textarea {
  padding: 8px;
  width: 30%;
}

.job-edit-form input[type="submit"] {
  padding: 10px 15px;
}

.job-edit-form .back-link {
  padding-left: 15px;
}

.job-add-form .form-group {
  padding-right: 15px;
}

.job-add-form input[type="text"], .job-add-form input[type="date"], .job-edit-form select {
  padding: 8px;
  max-width: 100%;
}

.job-search-form .form-group {
  padding-right: 15px;
}

.job-search-form input[type="text"], .job-add-form input[type="date"], .job-edit-form select {
  padding: 8px;
  max-width: 100%;
}

.job-search-inputs {
  text-align: center;
}

.input-label {
  padding-right: 8px;
}

.resource-list table, .resource-list th, .resource-list td {
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
}

.resource-list th, .resource-list td {
    padding: 15px;
}

.resource-list th {
    text-align: left;
}

.resource-list td .web, .resource-list td .video {
    /*white-space: nowrap;*/
    width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.resource-list td .skill {
    /*white-space: nowrap;*/
    width: 10%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.company-logo {
    height: 50px;
    width: 100px;
}

.address {
  padding-right: 8px;
}
