
/*#main-navigation {
    height: 54px;
    overflow: hidden;
    background-color: lightblue;
}

#main-navigation li {
    font-size: 1em;
    text-transform: uppercase;
    list-style: none;
    float: left;
    width: 10%;
    display: block;
    text-align: center;
    padding: 18px 16px;
    color: white;
}*/

/* Change the link color to #111 (black) on hover */
/*#main-navigation .navBar:hover {
    background-color: blue;
}*/

/*#main-navigation .navBar-active {
    background-color: red;
}*/

#job-navbar {
    height: 54px;
    overflow: hidden;
    /*background-color: lightblue;*/
}

#job-navbar li {
    font-size: 0.8em;
    text-transform: uppercase;
    list-style: none;
    float: left;
    width: 10%;
    display: block;
    text-align: center;
    padding: 18px 16px;
    color: white;
}
/* The alert message box */
.alert, .error {
    padding: 20px;
    color: white;
    margin-bottom: 15px;
}

.alert {
    background-color: green; /* Red */
}

.error {
  background-color: #f44336;
}

table .dashboard, .dashboard th, .dashboard td {
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
    border-spacing: 0;
    border-left: 0 none;
    border-right: 0 none;
}

.dashboard th, .dashboard td {
    padding: 15px;
}

.dashboard th {
    text-align: left;
}

.dashboard td {
    white-space: nowrap;
    max-width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.button {
  padding: 10px 15px;
}

/*.job-edit-form {
  padding: 20px;
}

.job-edit-form .form-group {
  padding-bottom: 15px;
}

.job-edit-form label {
  padding-right: 15px;
}

.job-edit-form input[type="text"], .job-edit-form textarea {
  padding: 8px;
  width: 20%;
}

.job-edit-form input[type="submit"] {
  padding: 10px 15px;
}

.job-edit-form .back-link {
  padding-left: 15px;
}*/

.job-add-form .form-group {
  padding-right: 15px;
}

.job-add-form input[type="text"], .job-add-form input[type="date"], .job-edit-form select {
  padding: 8px;
  max-width: 100%;
}

.job-search-form .form-group {
  padding-right: 15px;
}

.job-search-form input[type="text"], .job-add-form input[type="date"], .job-edit-form select {
  padding: 8px;
  max-width: 100%;
}

.job-search-inputs {
  text-align: center;
}

.input-label {
  padding-right: 8px;
}

/*.resource-list table, .resource-list th, .resource-list td {
    border-bottom: 1px solid #ddd;
    border-collapse: collapse;
}

.resource-list th, .resource-list td {
    padding: 15px;
}

.resource-list th {
    text-align: left;
}*/

/*.resource-list td .web, .resource-list td .video {
    white-space: nowrap;
    width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.resource-list td .skill {
    white-space: nowrap;
    width: 10%;
    overflow: hidden;
    text-overflow: ellipsis;
}*/

.pager {
    list-style: none;
}

button {
  display: inline-block;
}

/*.contact-form {
  padding: 20px;
}

.contact-form .form-group {
  padding-bottom: 15px;
}

.contact-form label {
  padding-right: 15px;
}

.contact-form input[type="text"], .contact-form textarea {
  padding: 8px;
  width: 20%;
}

.contact-form input[type="submit"] {
  padding: 10px 15px;
}*/

.quick-actions {
  padding-right: 8px;
}

.saved-job-posting:hover {
  background-color: #D3D3D3;
}

.search-input {
  padding-right: 8px;
  padding-left: 8px;
}
/* start of company info styling */
#companyInformationTab{
  display: grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr 1fr;
}

#twitterBanner{
  grid-column:1/3;
  grid-row:1/2;
}
#tweetsContainer{
  grid-column:1/2;
  grid-row:2/3;
}
#GlassdoorComponent{
  grid-column:2/3;
  grid-row:2/3;
}
#glassdoorDoughnuts{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
}
.doughnut{
  justify-content: center;
}
.centerText{
  display: flex;
  justify-content: center;
}
/* #BBBComponent{
  grid-column:1;
  grid-row: 2;
}

#EDGARComponent{
  grid-column:1;
  grid-row:2;
}
#FullContactComponent{
  grid-column:1;
  grid-row:2;
} */
/* end of company info styling */
